body{
        width: 100%;
        height: 100%;
    }

#universe{
    width: 100%;
    height: 900px;
    background: black;
    background:radial-gradient(#555,#000);
}

#sun{
    position:absolute;
    left: 40%;
    top: 40%;
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 100px;
    background: radial-gradient(#f5c313, #ec7e08);
    box-shadow: 0 0 50px #f5c91a;
    animation: sunFire 5s infinite alternate;
}

#eatrhOrbit{
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    z-index: 5;
/*    border:1px solid red;*/
    border-radius: 300px;
    animation: linear spin 60s infinite ;
}

#moonOrbit{
    width: 150px;
    height: 150px;
/*    border: solid 1px red;*/
    border-radius:75px;
    position: relative;
    top: -20%;
    left: -25px;
    animation: linear spin 5s infinite ;
}

#moon{
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius:15px;
    background:radial-gradient(#ddd, #888);
}

@keyframes sunFire {
    from{
        box-shadow: 0 0 100px #f5c91a;
    }
    to{
        box-shadow: 0 0 50px #f5c91a;
    }
}

@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
