#topBar{
	height: 40px;
	font-weight: bold;
}

body{
	margin: 0px;
    font-family: Arial,Helvetica,freesans,sans-serif;
   	font-size: 13px;
}
p{
	margin: 0px;
}

#newsBar{
	background-color: #BB1919;
	height: 47px;
	color: white;
	font-size: 50px;
	font-family: Helvetica,Arial,freesans,sans-serif;
	padding: 5px; 
}

#bbclogo{
	float:left;
	padding: 5px 10px 5px 5px;
}

.fixedWidth {
	width:1248px;
    margin:auto;
}

#signIn{
   	float:left;
   	width:166px;
   	height:40px;
   	border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    padding-right: 5px;
}

#signIn p {
   	margin-top: -5px;
   	padding: 15px 20px 10px 20px;
}

#topBar_menu{
	float: left;
}

#topBar_menu ul{
	margin: 0px;
	padding: 0px;
}

#topBar_menu li{
   	float: left;
   	margin-top: -5px;
   	list-style: none;
   	padding: 15px 20px 10px 20px;
   	border-right: 1px solid #E5E5E5;
}

#top_more{
	float: left;
	margin-top: -5px;
   	padding: 15px 20px 10px 20px;
   	border-right: 1px solid #E5E5E5;
}

.popDownMenu{
	padding: 5px 0px 5px 50px;
}

#search{
   	float:left;
   	margin-top:7px;
   	margin-left:7.5px;
}

#search input {
   	width:160px;
   	border: none;
   	height:24px;
   	background-color:#E4E4E4;
   	font-family: Arial,Helvetica,freesans,sans-serif;
   	font-weight:bold;
   	font-size: 13px;
   	background-image:url("images/magnify.png");
   	background-repeat:no-repeat;
   	background-position:right 10% center;
   	background-size:10%;
}

#navBar{
	height: 40px;
	background-color: #BB1919;
   	font-family: Arial,Helvetica,freesans,sans-serif;
   	font-weight:bold;
   	font-size: 13px;
}

#navBar_menu ul{
	margin: 0px 0px 0px -10px;
	padding: 0px;
}

#navBar_menu li{
   	float: left;
   	list-style: none;
   	margin-top: 15px;
   	padding: 0px 12px 0px 10px;
   	color: white;
   	border-right: 1px solid #bb4545;
}

#nav_more{
	float: left;
	color: white;
   	margin-top: 15px;
   	padding: 0px 12px 0px 12px;
}

#nav_more img{
	width: 8px;
   	top:2px;
   	left:6px;
}

#topNews{
	margin-top: 10px;
	height: 302px;
	column-count: 4;
	color: gray;
}

#headLine p{
	width: 230px;
}

#headLine h1{
	width: 230px;
	color: black;
}

#headLine img{
	margin-left: -50px;
	height: 300px;
	width: 500px;
}

#secondHeadLinePhotos{
	height: 120px;
	width: 210px;
	margin-left: 160px;
	margin-right: -100px;
}

#secondHeadLine p{
	margin-left: 160px;	
	width: 210px;
}

#secondHeadLine h3{
	margin-left: 160px;	
	width: 210px;
}

#thirdHeadLinePhotos{
	height: 120px;
	width: 210px;
	margin-left: 80px;
}

#thirdHeadLine p{
	margin-left: 80px;	
	width: 210px;
}

#thirdHeadLine h3{
	margin-left: 80px;	
	width: 210px;
}

#insertNews{
	color: gray;
	height: 50px;
}

#insertNews ul{
	margin: 0px 0px 0px 15px;
	padding: 0px;
}

#insertNews li{
	float: left;
	width: 230px;
	font-weight: bold;
	margin: 10px;
}

#secondNews{
	height: 300px;
	background-color: blue;
	margin-top: 10px;
}
